@use 'reset';
@use 'variables';
@use 'mixins';

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

#root {
    isolation: isolate;
}